html
  head
    - if(results.length != 0) {
      title=results[0].advice
    - }
    - else {
      title advice for merrin
    - }
    link(type="text/css" rel="stylesheet" href="styles.css")
    meta(name= "viewport" content= "width=device-width, initial-scale=1")
    style
      | body {background: linear-gradient(
      = gradient_degrees
      |deg, 
      = background_colours[0]
      |, 
      = background_colours[1]
      | );}
  body
    .container
      canvas#canvas
      .advice
        - if(results.length == 0) {
          h1 write more advice
        - }
        - else
          - results.forEach(function(r) {
          h1= r.advice
          - });
      .advices-count
        | daily advices for merrin. 
        span=used
        |  used. 
        span=unused
        |  remaining.
        - if(unused != 0){
          |  will run out: 
          span=runout
        - }
        - else {
          |  goodbye.
        - }
      .share
        a.twitter-share-button(href="https://twitter.com/intent/tweet" data-via="adviceformerrin").
          Tweet
  //- twitter button and google analytics:
  script(src="jquery-1.11.2.min.js")
  script
    | var brush_colour = "
    = brush_colour
    | "
  script(src="script.js")
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-60850846-2', 'auto');ga('send', 'pageview');</script>
